name: book

on:
  pull_request:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    name: build
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2

      - run: mdbook build -d public
        working-directory: book

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/public
          keep_files: false
          destination_dir: book

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          path: book
          ignore_words_list: "crate,gir"
